<div class="container-fluid">
    <div class="card mx-auto my-4 shadow-sm" style="width: 25rem;">
      <div class="card-header bg-primary text-white">
        {{ramen.variety}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{ramen.id}}</li>
        <li class="list-group-item">Brand: {{ramen.brand}}</li>
        <li class="list-group-item">Style: {{ramen.style}}</li>
        <li class="list-group-item">Country: {{ramen.country}}</li>
        <li class="list-group-item">Rating: {{ramen.stars}}</li>
      </ul>
    </div>
  </div>
  